*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monument;
}
html,body{
    height: 100%;
    width: 100%;
    font-weight: 500;
}
/*
#tabs{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}
.tab{
    padding: 12px 20px;
    background-color: yellow;
    border-radius: 4px;
    border: 2px solid black;
}
h3{
    display: none;
    margin-top: 50px;
    width: 50%;
}*/
/*
#center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#capsule{
   
    height: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: red;
}
#progress{
    height: 100%;
    width: 5px;
    border-radius: 10px;
    background-color: yellow;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .20s;
}
*/
























































